@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron-fluid">
        <h1 class="display-4">Welcome To The LDS Movie App</h1>
        <p>Christian Mena-Osorio -- Assignment Week 9 -- CIT 365</p>
     </div>
</div>
<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/css/pictures/81XbDO4GK-L._SL1500_.jpg" class="mx-auto d-sm-block"  width="250" height="400">
        </div>
        <div class="carousel-item">
            <img src="~/css/pictures/Charly_.jpg" class="mx-auto d-sm-block"  width="250" height="400">
        </div>
        <div class="carousel-item">
            <img src="~/css/pictures/Meet the Mormons.jpg" class="mx-auto d-sm-block"  width="250" height="400">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>
